DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=genera-una-clave-con-secrets.token_urlsafe
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=invernadero
POSTGRES_USER=invernadero
POSTGRES_PASSWORD=pon-aqui-una-clave
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0